.Intro {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  font-size: 32px;
}

.Intro_texts {
  position: relative;
  top: -150px;
  h1 {
    font-size: 2.5em;
    margin: 0;
  }
  p {
    font-size: 0.5em;
    display: flex;
    flex-direction: column;

    span {
      color: orange;
    }
  }
}

.Intro_navigation {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: absolute;
  right: 3vw;
  top: 70vh;
  align-items: flex-end;
  a {
    font-size: 0.8em;
    color: black;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    text-decoration-color: #9747ff;
  }
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) {
  .Intro {
    font-size: 42px;
  }
}
@media (min-width: 801px) {
  .Intro {
    font-size: 52px;
  }
}
@media (min-width: 1025px) {
  .Intro_texts {
    p {
      flex-direction: row;
      gap: 0.5em;
    }
  }
}
@media (min-width: 1281px) {
  .Intro {
    font-size: 64px;
  }

  .Intro_texts {
    top: -150px;
  }
}
