:root{
  --background-color: #E7E7E7;
  --font-color: #1E1E1E;
  --invert: invert(-1);
  background-color: var(--background-color);
  color: var(--font-color);
}

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

[data-theme="dark"]{
  --background-color: #1E1E1E;
  --font-color: #E7E7E7;
  --invert: invert(1);
}