.contacto{
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  h1{
    font-size: 42px;
    font-weight: 400;
    margin: 0;
  }
}

.contacto_form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;


  input, textarea{
    background-color: transparent;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    font-size: 18px;
    border: solid 1px black;
    outline: none;

    &:focus{
      outline: none;
      border: solid 1px black;
      border-bottom: solid 3px #9747FF;
    }
  }

  button{
    background-color: transparent;
    border: solid 1px black;
    padding: 5px 15px;
  }
}


@media (min-width:320px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px) { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1550px) {
  .contacto{
    padding: 75px 153px;
    h1{
      font-size: 84px;
      align-self: flex-start;
    }
  }

  .contacto_form{
    width: 100%;
    max-width: 1300px;

    input,textarea{
      font-size: 28px;
    }

    button{
      align-self: flex-end;
      font-size: 28px;
    }
  }
 }