.Player{
  display: none;
  position: absolute;
  width: 400px;
  left: -190px;
  bottom: 30px;
}

.Player_cass{
  width: fit-content;
  img{
    filter: invert(1);
    height: 300px;
    width: auto;
  }
}

.Player_text{
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  background-color: grey;
  p{
    margin: 0;
  }
}

@media (min-width:320px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px) { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px) {
  .Player{
    display: block;
  }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }